/* TeamOverview.css */

.team-overview {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: none;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.team-logo-container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 8px;
  overflow: hidden;

}

.team-logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
}